////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

////////////////////////////////////////////
///// 		BUTTON, BOXES, IMAGES
///////////////////////////////////////////////

section.featuresOne {
	margin: 0;
	padding: 0;
	// BUTTONS
	& a.button {
		@include portfolioButtonsV1;
		margin-bottom: 20px;
		margin-right: 5px;
		// changed line height to centre it vertically
		line-height: $baselineheight*23/12;
	}
	& a.button.red {
		@include buttonShowcaseFactor (#cb4b4b,#ba3d3d);
	}
	& a.button.brown {
		@include buttonShowcaseFactor (#a49571,#877a5c);
	}
	& a.button.purple {
		@include buttonShowcaseFactor (#9471a4,#7b558c);
	}
	& a.button.green {
		@include buttonShowcaseFactor (green,darken(green,25%));
	}
	& a.button.blue {
		@include buttonShowcaseFactor (blue,darken(blue,25%));
	}
	// BOXES
	& .info-box {
		@include boxesShowCaseFactorV2(blue);
	}
	& .warning-box {
		@include boxesShowCaseFactorV2(red);
		// float: right;
	}
	& .download-box {
		@include boxesShowCaseFactorV2(green);
		margin-bottom: 5%;
	}
	& .note-box {
		@include boxesShowCaseFactorV2(yellow);
		// float: right;
	}
	& .clear {
		// margin-top: 3%;
	}
	// IMAGES
	& img.left.round {
		float: left;
		margin: 0 3% 3% 0;
	}
	& img.right.round {
		float: right;
		margin: 0 0 3% 3%;
	}
	& img.center.round {
		display: block;
		margin: 3% auto;
	}
}

////////////////////////////////////////////
// 		TABS, TOGGLES, TABLES
////////////////////////////////////////////

section.featuresTwo {
	margin: 0;
	padding: 0;
	// TABS
	
	& ul.tabs {
		@include standardButtonNav;
		margin-bottom: 3%;
	}

	& .tab-container {
		margin: 0;
		padding: 0;
	}

	& .tab_content {
		@include tabToggleContent;
	}
	
	#tab2 {display: none;}
	#tab3 {display: none;}

	// TOGGLES

	& .toggle {
		& .toggleBox {
			@include tabToggleContent;
			display: none;
		}

		& h2 {
			display: block;
			// weirdly max-width 100% doesn't work...
			width: 100%;
			clear: both;
			@include portfolioButtonsV1;
			color: $baseHoverColor;
			font-size: $basefontsize*14/12;
			text-align: left;
			margin-bottom: 3%;
			@include transitionEffectAllEaseIn(0.5s);
		}
	}

	// TABLES
	
	& .featuredTable1, & .featuredTable2 {
		margin: 0;
		padding: 0;
		& table {
			width: 100%;
			margin-bottom: 5%;
			border: $tableBorder;
		}
		& h2 {
			font-size: $basefontsize*20/12;
		}
		& h4 {
			margin: 0;
			font-size: $basefontsize*16/12;
			line-height: $baselineheight*20/12;
		}
		& td {
			padding: 8px 10px;
			border-right: $tableBorder;
			font-size: $basefontsize*13/12;
			border-top: $tableBorder;
		}
	}

	& .featuredTable1 {
		& th {
			padding: 10px;
			text-align: left;
			padding-left: 10px;
			border-right: $tableBorder;
			font-weight: normal;
		}
	}

	& .featuredTable2 {
		& tr {
			border-left: $tableBorder;
			border-top: $tableBorder;
		}
		& td {
			text-align: center;
		}

		// had to put & td.right in this position for it to work
		& td.right {
			text-align: right;
			font-weight: 900;
		}
	}

	& span.cross {
		display: inline-block;
		text-align: center;
	}

	& .cross {
		background: transparent url(/images/cross.png) no-repeat center left;
		width: 10px;
		height: 10px;
	}

	& span.check-icon {
		display: inline-block;
		text-align: center;
	}

	& .check-icon {
		background: transparent url(/images/check-table.png) no-repeat center left;
		width: 12px;
		height: 10px;
	}

}

////////////////////////////////////////////
///// 		TYPOGRAPHY PAGE
///////////////////////////////////////////////

.typographyShowCase {
	margin: 0;
	padding: 0;
	
	& .unorderList {
		margin-bottom: 3%;
		& li {
			@include specialBulletsDotted;
		}
	}

	& .orderList {
		margin-bottom: 3%;
		& li {
			list-style-type: decimal;
		}
	}

	& blockquote p {
		@include blockquoteCodeClear;
	}

	& .dropcap {
		display: inline-block;
		float: left;
		font-size: $basefontsize*45/12;
		padding: 0;
		margin: 0;
		margin:  10px 8px 3px 0;
		font-family: $dropcapFontFamily;
	}

	& pre {
		margin: 5px 0 40px 0px;
		padding: 0 10px 0 10px; 
		display: block;
		clear: both;
		background: url(/images/codebg.jpg) repeat;
		// background: lightgrey repeat;
		line-height: $baselineheight*20/12;
		font-size: $basefontsize;
		border: $carouselScrollBorder;
	}

	& .one-third {
		padding: 1%;
	}
}

// END TYPOGRAPHY PAGE

////////////////////////////////////////////
// 		SERVICE ICONS PAGE
////////////////////////////////////////////

.serviceIconsPage h3 img {
	vertical-align: middle;
	// margin right often doesn't work
	// in those cases use padding
	padding-right: 10px;
	display: inline-block;
	border-radius: 3px;
}

// END SERVICE ICONS PAGE