////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

.copyBlockOne {
	// & h3 {
	// 	font-size: $basefontsize*1.5;
	// 	line-height: $baselineheight*1.83;
	// }
	// & p {
	// 	line-height: $baselineheight*1.66;
	// 	margin-bottom: 20px;
	// }
}

.bulletBlock {
	& h3 img {
		margin-right: 5%;
	}
}

.endingBlock {
	& li {
		// list-style: hiragana inside;
		background: transparent url(/images/bullet.png) left 8px no-repeat;
		padding-left: 3%;
	}
	& ul > li > p {
		// padding-left: 3%;

	}
}