@mixin transitionEffectAll ($time) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-o-transition: all $time;
	-ms-transition: all $time;
}

@mixin transitionEffectAllEaseIn ($time) {
	-webkit-transition: all $time ease-in;
	-moz-transition: all $time ease-in;
	-o-transition: all $time ease-in;
	-ms-transition: all $time ease-in;
}

@mixin subMenuBasic ($left,$top) {
	// style the subMenu
	width: 100%;
	display: none;
	position: absolute;
	// left: 89%;
	// top: 16%;
	left: $left;
	top: $top;
	border:1px solid $sidebarBorderColor;
	background: $sidebarNavBack;
	// bx slider's z-index is set to 2000; you have to exceed that value
	z-index: 4000;
	// enable the ability for list items to appear
	& li {
		display:list-item; //Set the sub navs list items back
		// float:none;
		// style the submenu list items
		& a {
			display:block;
			// float:none;
			padding: $sidebarNavPadding;
			font-size: $basefontsize*1.1;
		}
	}
}

@mixin directionButtons ($arrowDirection) {
	// float direction should match arrow direction
	// where $direction is either left or right for the direction of the arrow
	// we assume the background image is always the same
	float: $arrowDirection;
	background: #fff url(/images/controls.png) no-repeat $arrowDirection top;
	display: block;
	cursor: pointer;
	width: 25px;
	height: 25px;
	border: $carouselScrollBorder;
}

@mixin portfolioButtonsV1 {
	color: $footerFontColor;
	font-size: $basefontsize*13/12;
	font-family: $headingFontFamily;
	border-radius: 3px;
	text-align: center;
	background: #fff url(/images/button.png) repeat-x left top;
	padding: 0 20px 0 20px;
	line-height: $baselineheight*26/12;
	height: 26px;
	border: $carouselScrollBorder;
	// want them on the same line
	display: inline-block;
	cursor: pointer;
	@include transitionEffectAllEaseIn(200ms);
	&:link {
		color: $footerFontColor;
	}
	&:visited {
		color: $footerFontColor;
	}
	&:hover {
		color: $baseHoverColor;
	}
}

@mixin clearDividerLine {
	// use .clear before you use .line
	.clear {
		clear:both;
	}

	// for the dividing line div to work you must first use div.clear (above) first... otherwise the div gets stuck within another element or div

	.line {
		background: $horizontalLine;
		height: 2px;
		padding: 20px 0 0 0;
		color: $sidebarNavFontColor;
	}
}