////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

h1.title {
	padding: 0;
	font-size: $basefontsize*1.6;
	font-weight: 900px;
}

.introText {
	font-family: $introTextFamily;
	font-style: italic;
	font-size: $basefontsize*1.4;
}

////////////////////////////////////////////
///// 		SIDEBAR NAV MENU
///////////////////////////////////////////////


////////////////////////////////////////////


