////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

$contentLeftShift: 27%;

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

h1.title {
	padding: 0;
	font-size: $basefontsize*1.8;
	font-weight: 900px;
}

.introText {
	font-family: $introTextFamily;
	font-style: italic;
	& p {
		font-size: $basefontsize*1.4;
		color: darken($sidebarNavFontColor,60%);
	}
}

// use .clear before you use .line
.clear {
	clear:both;
}

// for the dividing line div to work you must first use div.clear (above) first... otherwise the div gets stuck within another element or div

.line {
	background: $horizontalLine;
	height: 2px;
	padding: 20px 0 0 0;
	color: $sidebarNavFontColor;
}

.round {
	border-radius: 3px;
}

////////////////////////////////////////////
///// 		NAV MENU
///////////////////////////////////////////////
/// for use with responsive alterations

@import 'navmenu.032515.1';

////////////////////////////////////////////

////////////////////////////////////////////
///// 		SIDEBAR NAV MENU
///////////////////////////////////////////////

@import 'sidebarNav';

////////////////////////////////////////////
///// 		CONTENT SECTION
///////////////////////////////////////////////

// on the much higher resolution of Macbook Air 2014, the left: 22.7% causes the sidebar to overlap

.content {
	position: relative;
	z-index: 10;
	left: $contentLeftShift;
	padding-top: 3%;
	padding-right: 10%;
	// for a perfect fit use column(9.5) however 10 provides more space
	@include column(10);
	@include phoneR {
		left: $contentLeftShift/5.09;
		// left: normal;
		// margin: 0 auto;
		@include column(12);
	}
}

////////////////////////////////////////////

////////////////////////////////////////////
///// 		IMAGE SLIDER HOME PAGE
///////////////////////////////////////////////

.sliderImage {
	// position: relative;
	// z-index: 500;
	// & img {
	// 	z-index: 501;
	// }
	& .bxslider {
		// position: relative;
		// z-index: 409;
	}
	////////////////////////////////////////////
	/// Haven't figured out how to configure the directional nav for the image slider yet
	
	& .flexslider {
		& .flex-direction-nav ~ .flexslider {
			&:hover {
				display: block;
			}
		}
	}
	& .flex-direction-nav {
		display: none;
	}
	////////////////////////////////////////////
}

// END IMAGE SLIDER HOME PAGE

////////////////////////////////////////////

////////////////////////////////////////////
// 		LATEST WORK
////////////////////////////////////////////


.carouselScroll {
	float: right;
	margin-top: -42px;
	width: 60px;
	& .prev {
		@include directionButtons(left);
	}
	& .next {
		@include directionButtons(right);
	}
	& span {
		& .fa-angle-left, .fa-angle-right {
			padding: 2%;
			margin-left: 3%;
		}
	} 
}


// END LATEST WORK

////////////////////////////////////////////
// 		TESTIMONIALS
////////////////////////////////////////////

@import 'testimonials';

// END TESTIMONIALS

////////////////////////////////////////////
// 		FEATURES
////////////////////////////////////////////

// useful to setup classes for some common actions and then just tag the things you want changed as if this was Bootstrap

.center {
	text-align: center;
}

.right {
	text-align: right;
}

// END FEATURES

////////////////////////////////////////////
// 		BUTTONS AND JAVASCRIPT
////////////////////////////////////////////

.active {
	color: $activeJSColor;
}

