////////////////////////////////////////////
///// 		NAVMENU
///////////////////////////////////////////////

// this is for the responsive version

////////////////////////////////////////////
///// 		MENU TOGGLE ICON
///////////////////////////////////////////////

label[for='toggle'] {
	// currently within .wrapper not body
	position: fixed;
	
	// margin-top: 2%;
	// .wrapper z-index is 10
	z-index: 15;
	&:hover {
		color: $navMenuIconColorHover;
	}
	@include desktopRHD {
		display: none;
	}
	@include desktopR {
		display: none;
	}
	@include tabletR {
		display: none;
	}
	@include phabletR {
		display: none;
	}
	@include phoneR {
		display: inline-block;
		// if you're not using fit
		// top: -1%;
		// right: 11%;
		// if you are using fit
		top: 0.4%;
		right: 7.5%;
		padding-top: 2.3%;
	}
}

///////////////////////////////////////////////

////////////////////////////////////////////
///// 		MENU TOGGLE SWITCH
///////////////////////////////////////////////

input#toggle {
	display: none;
	&:checked ~ .sidebarNav {
		// when the input is checked
		// we slide the menu back onto the screen
		// top: 0;
		left: 0;
	}
}

///////////////////////////////////////////////



///////////////////////////////////////////////