////////////////////////////////////////////
///// 		NAVMENU
///////////////////////////////////////////////

// this is for the responsive version

////////////////////////////////////////////
///// 		MENU TOGGLE ICON
///////////////////////////////////////////////

.sidebarNav label[for='toggle'] {
	position: absolute;
	top: 2%;
	right: 6%;
}

///////////////////////////////////////////////

////////////////////////////////////////////
///// 		MENU TOGGLE SWITCH
///////////////////////////////////////////////

input#toggle {
	display: none;
}

///////////////////////////////////////////////



///////////////////////////////////////////////