////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

ul.filtering-nav {
	& li:first-child {
		text-transform: uppercase;
		font-size: $basefontsize;
		font-family: $headingFontFamily;
	}
	& li {
		list-style: none;
		display: list-item;
		width: auto;
		// the display: inline-block on the a doesn't bring the buttons onto the same line because the "li" are still block elements... you have to change parent li elements into inline blocks too...
		display: inline-block;
		// to adjust the margins/spacing between the porfolio nav buttons I had to apply the margin changes to the li not the "a" this time
		margin-left: 1%;
		// margin-right: 2%;
		& a {
			@include portfolioButtonsV1;
		}
	}
	// & li a {
	// 	@include portfolioButtonsV1;
	// }
}

.portfolioList {
	margin-top: 5%;
}

.portfolioItem {
	// since we have portfolio pages that use 4 columns, 3, 2 and 1 we can't use @include column(4) here... we should apply our pre-made classes in columns.scss
	// @include column(4);
	& a {
		& img {
			border-radius: 3px;
			margin-bottom: 5%;
			max-width: 100%;
		}
	}
	
	& h4 a {
		text-decoration: none;
		font-family: $headingFontFamily;
		color: $footerFontColor;
		&:link {
			color: $footerFontColor;
		}
		&:visited {
			color: $footerFontColor;
		}
		&:hover {
			color: $baseHoverColor;
		}
	}
	& p {
		font-family: $introTextFamily;
	}
}

// in the one column portfolio display I had to...
// a.  assign a class for these elements called .portImgCol and used that with the element to maximize targeting...
// b.  set the image to display: block which automatically forces the heading, text and button to the left side...

img.portImg1Col {
	display: block;
	@include column(8);
	// max-width: 457px;
	max-height: 251px;
	margin-right: 2%;
}

h4.portImag1Col {
	// padding-left: 3%;
}

p.portImag1Col {
	// padding-left: 3%;
}

blockquote.portPost p {
	@include blockquoteCodeClear;
}