.sidebarNav {
	// position: relative;
	background: $sidebarNavBack;
	@include column(2.5);
	float: left;
	height: 100%;
	position: fixed;
	z-index: 999;
	padding: 2% 2% 2% 2%;
	border-left: $sidebarBorderColor;
	border-right: $sidebarBorderColor;
	@include transitionEffectAllEaseIn(0.9s);
	@include phoneR {
		left: -50%;
		@include column(5);
	}
	& ul {
		margin:0;
		padding:0;
	}
	& li {
		background: transparent url(../images/menu-line.png) no-repeat center top;
	}
	& a {
		display: block;
		color: $sidebarNavFontColor;
		text-decoration: none;
		font-family: $sidebarNavFontFamily;
		padding: $sidebarNavPadding;
		@include transitionEffectAll(0.5s);
		@include phoneLandR {
			font-size: $basefontsize*1.2;
		}
		&:link {
			color: $sidebarNavFontColor;
		}
		&:visited {
			color: $sidebarNavFontColor;
		}
		&:hover {
			color: $sidebarNavFontColor;
			background: darken($sidebarNavBack,10%);
		}
	}
	& .socialMediaIcons {
		padding-top: 20%;
		margin-bottom: 20%;
		@include phoneLandR {
			padding-top: 1%;
		}
		& ul {
			text-align: center;
			& li {
				display: inline-block;
				// get rid of the line background image here
				background: none;
				padding: 0;
				padding-right: 3px;
			}
			& a:hover {
				background: $sidebarNavBack;
			}
		}
	} 
	& .mainMenu {
		padding-top: 20%;
		// bx slider's z-index is set to 2000; you have to exceed that value
		position: relative;
		overflow: visible;
		z-index: 999;
		@include phoneR {
			padding-top: 2%;
		}
		& ul.subMenuMain {
			// @include transitionEffectAll(2s);
		}
		& li {
			padding: 0;
			&:hover ul.subMenuMain {
				// make subMenu appear when you hover over the mainMenu "li"
				display: block;
			}
		}
	}

	// added adjustments to the logo's position
	& .logo {
		// padding-left: 15%;
		text-align: center;
		& img {
			max-width: 100%;
			@include tabletR {
				// keep the image within the sidebar bounds
				max-width: 100%;
			}
			@include phoneLandR {
				max-width: 50%;
			}
		}
		
	}

	////////////////////////////////////////////
	///// 		BLOG SEARCH BOX
	///////////////////////////////////////////////
	
	.blogSearchBox {
		font-weight: bold;
		font-family: $headingFontFamily;
		& form {
			position: relative;
			& i.fa {
				color: $sidebarNavFontColor;
				position: absolute;
				// right: 11px;
				// top: 9px;
				// change from pixels to % because the positioning is off as the screen shrinks
				right: 5%;
				top: 30%;
				@include tabletR {
					// field is so small you're better off getting rid of the magnifying glass
					display: none;
				}
			}
		}
		& h3 {
			color: $sidebarNavFontColor;
			display: block;
			margin-bottom: 0;
			margin-bottom: 2%;
		}
		& input {
			margin-top: 2%;
			color: $sidebarNavFontColor;
			padding: 3% 2% 4% 4%;
			font-size: $basefontsize*0.98;
			font-style: italic;
			width: 100%;
			background: darken($sidebarNavBack,10%);
			border: 0;
			@include blogSearchBoxBorderSet1(black,black,#CCC,#CCC);
		}
	}

	////////////////////////////////////////////
	///// 		SUBMENU STYLING
	///////////////////////////////////////////////

	/// Each ul.submenu requires different positioning
	/// one positioning won't work for all
	/// I created a mixin subMenuBasic that duplicates the code to style each submenu
	/// seems kind of useful styling each menu separately especially when positioning
	& .subMenu1 {
		@include subMenuBasic(100%,12%);
		@include phoneR {
			@include subMenuBasic(100%,1%);
		}
	}
	& .subMenu2 {
		@include subMenuBasic(100%,29.4%);
		@include phoneR {
			@include subMenuBasic(100%,-27.6%);
		}
	}
	& .subMenu3 {
		@include subMenuBasic(100%,47%);
		@include phoneR {
			@include subMenuBasic(100%,-12%);
		}
	}
	& .subMenu4 {
		@include subMenuBasic(100%,65%);
		@include phoneR {
			@include subMenuBasic(100%,-10%);
		}
	}
	////////////////////////////////////////////
	
	////////////////////////////////////////////
	///// 		FLEXBOX
	///////////////////////////////////////////////
	
	.flex-container {
		display: flex;

		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	
	///////////////////////////////////////////////

}