////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////

@import 'normalize';
@import 'grid';
@import 'responsive';
@import 'columns';

////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// FONT FAMILIES
// $basefontfamily:'Lato', sans-serif;
// $basefontfamily:'Open Sans', sans-serif;
// font-family: 'Droid Sans', sans-serif;
// $basefontfamily:'Amaranth', sans-serif;
$basefontfamily:'Open Sans', sans-serif;
$introTextFamily: 'Droid Sans', sans-serif;
$headingFontFamily: 'Amaranth', sans-serif;

// FONT COLOURS

// FONT SIZES
$basefontsize:12px;

// LINE HEIGHTS
$baselineheight:12px;

// BACKGROUND COLORS
$basebackcolor: darken(white,2.5%);
$sidebarNavBack: #653082;

// suggest you build some classes ahead of time which you can assign as required

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

body {
	font-family: $basefontfamily;
	font-size: $basefontsize;
	background: $basebackcolor;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

// for some mysterious reason a dot kept appearing in the header fixed nav menu so I decided to set that global li's would be default list-style-type: none unless specified otherwise.
li {
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
	color: #4a4a4a;
	font-weight: normal;
	margin: 0 0 10px 0;
	font-family: $headingFontFamily;
}

h3 {
	font-size: $basefontsize*1.5;
	line-height: $baselineheight*1.83;
}

p {
	line-height: $baselineheight*1.66;
	margin-bottom: 20px;
	font-size: $basefontsize*0.99;
}

////////////////////////////////////////////
// 		MULTI-SECTION CONTENT
////////////////////////////////////////////

@import 'multi.section';

////////////////////////////////////////////
// 		HOME CONTENT
////////////////////////////////////////////

@import 'home';

////////////////////////////////////////////
// 		PORTFOLIO CONTENT
////////////////////////////////////////////

@import 'portfolio';

////////////////////////////////////////////
// 		BLOG CONTENT
////////////////////////////////////////////

@import 'blog';

////////////////////////////////////////////
// 		FEATURES CONTENT
////////////////////////////////////////////

@import 'features';

////////////////////////////////////////////
// 		CONTACT US CONTENT
////////////////////////////////////////////

@import 'contactus';
