////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

.testimonialsList {
	// so that the testimonial blocks go right across the entire width of .content
	padding-right: 0;
}

ul.testimonialListV2 {
	list-style: none;
	width: 100%;
	position: relative;
	padding-right: 0;
	& li {
		background: none;
		background-color: $testimonialBack;
		padding: 10px;
		margin-bottom: 20px;
	}
	& blockquote p {
		@include blockquoteCodeGrey;
	}
	& cite {
		padding-left: 25px;
		font-family: $blockquoteFont;
		font-style: italic;
		font-size: $basefontsize;
	}
}