////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// FONT FAMILIES
// $basefontfamily:'Lato', sans-serif;
// $basefontfamily:'Open Sans', sans-serif;
// font-family: 'Droid Sans', sans-serif;
// $basefontfamily:'Amaranth', sans-serif;
$basefontfamily:'Open Sans', sans-serif;
$introTextFamily: 'Droid Sans', sans-serif;
$headingFontFamily: 'Amaranth', sans-serif;
$sidebarNavFontFamily: 'Amaranth', sans-serif;

// FONT COLOURS
$sidebarNavFontColor: #fcfcfc;
$footerFontColor: #4a4a4a;
$lite1Color: #688dad;
$baseHoverColor: #ab4d63;
$altHoverColorOption1: #ab4d63;
$altHoverColorOption2: #959437;

// FONT SIZES
$basefontsize:12px;

// LINE HEIGHTS
$baselineheight:12px;

// BACKGROUND COLORS
$basebackcolor: darken(white,2.5%);
$sidebarNavBack: #653082;

// BORDERS
$sidebarBorderColor: rgba(0, 0, 0, 0.50);
$carouselScrollBorder: 1px solid #dbdbdb;
$lite1Border: 1px dotted #688dad;

// HORIZONTAL LINES
// these use the background selector
$horizontalLine: transparent url(/images/line.png) repeat-x;
// NOTE:  make sure the URL is correct otherwise you don't see a thing

// PADDING
$sidebarNavPadding: 8% 4% 8% 4%;

////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

// suggest you build some classes ahead of time which you can assign as required

// I almost always get rid of text decoration so why no just get rid of it by default?
a {
	text-decoration: none;
}

// primarily used in footer
.lite1 {
	color: $lite1Color;
	border-bottom: $lite1Border;
}

.italicIt {
	font-style: italic;
}