extends ./index.layout.jade

block sidebarNav
	include ./includes/sidebarNavBlog.jade

block contentHome
	h1 Blog
	include ./includes/introText.jade
	.clear
	.line
	include ./includes/blogPostSegment.jade
	include ./includes/pageNavBlog.jade
	.clear
	.line

block footer
	include ./includes/footer.jade