h4 Lorem ipsum.
p
	img(src="http://lorempixel.com/163/121", alt="Lorem Picture", class='left round')
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem adipisci mollitia amet reprehenderit vitae ea quos necessitatibus quae provident libero, doloribus assumenda excepturi doloremque officiis praesentium nemo, eius possimus nihil. Odio exercitationem minima officiis iure blanditiis illo dolorum impedit harum magnam, provident praesentium adipisci dicta quam quis porro. Assumenda, iusto.