html(lang="en")
	head
		include ./includes/meta.jade
		include ./includes/links.jade
		include ./includes/scripts.jade
		title
			block titleEntry
				| Golem Capricious
	body
		// This theme is inspired by and partly derived from Caprice (http://elemisdesign.com/demos/caprice/index.html)...
		
		.wrapper
			//- ===================================
			//- SIDEBAR NAV
			//- ===================================
			//- You will use a different sidebar variation for the blog pages

			block sidebarNav

			//- ===================================
			//- SUBHEADING
			//- ===================================

			//- Turns out this is un-needed as you code the modified introduction on the separate pages differently
			//- Currently using the class .introText to style all of these sections

			block subHeading

			//- ===================================
			//- CONTENT HOME
			//- ===================================

			block contentHome

			//- ===================================
			//- CONTENT PORTFOLIO
			//- ===================================

			block contentPortfolio

			//- ===================================
			//- CONTENT BLOG
			//- ===================================

			block contentBlog

			//- ===================================
			//- CONTENT FEATURES
			//- ===================================

			block contentFeatures

			//- ===================================
			//- CONTACT US
			//- ===================================

			block contactUs

			//- ===================================
			//- FOOTER
			//- ===================================

			block footer

