html(lang="en")
	head
		include ./includes/meta.jade
		include ./includes/links.jade
		include ./includes/scripts.jade
		title
			block titleEntry
				| Golem Capricious
	body
		#fb-root
		// This theme is inspired by and partly derived from Caprice (http://elemisdesign.com/demos/caprice/index.html)...
		
		.wrapper
			//- ===================================
			//- SIDEBAR NAV
			//- ===================================
			//- You will use a different sidebar variation for the blog pages

			block sidebarNav

			//- ===================================
			//- CONTENT HOME
			//- ===================================

			.content
				block contentHome

			//- ===================================
			//- FOOTER
			//- ===================================

			block footer

			

			

