
//- ===================================
//- 		MIXINS
//- ===================================

mixin navMenuToggleV1
	//- This must be placed just before .sidebarNav and no other element can be between them
	input(name='toggle',type='checkbox')#toggle

mixin navMenuToggleIconV1
	label(for='toggle')
		span.fa.fa-navicon.animated.rollIn  Menu

//- END MIXINS

html(lang="en")
	head
		include ./includes/meta.jade
		include ./includes/links.jade
		include ./includes/scripts.jade
		title
			block titleEntry
				| Golem Capricious
	body
		#fb-root
		// This theme is a re-code variation of Caprice (http://elemisdesign.com/demos/caprice/index.html)...
		
		.wrapper

			//- input(name='toggle',type='checkbox')#toggle

			block navmenu
				+navMenuToggleIconV1
				+navMenuToggleV1

			//- ===================================
			//- SIDEBAR NAV
			//- ===================================
			//- You will use a different sidebar variation for the blog pages

			block sidebarNav

			//- ===================================
			//- CONTENT HOME
			//- ===================================

			.content
				block contentHome

			//- ===================================
			//- FOOTER
			//- ===================================

			block footer

			

			

