extends ./index.layout.jade

block sidebarNav
	include ./includes/sidebarNav.jade

block contentHome
	h1 Portfolio
	.introText
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum aspernatur, culpa magni cupiditate voluptate excepturi officia eaque mollitia minus?
	include ./includes/sliderImage.021715.1.jade
	blockquote.portPost
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ducimus quia repellendus! Eligendi dolorem quos perspiciatis incidunt, quae ullam earum delectus? Facilis amet nemo nobis praesentium. Ex commodi dolor cum.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In tempore laborum possimus sunt animi rem. Eaque, eveniet quisquam eos dolore commodi optio facere, et, vel nulla quae magnam consectetur debitis.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quaerat ut mollitia in, recusandae beatae suscipit! Cum obcaecati aut, illo quas quam praesentium adipisci hic nulla veniam nam consequuntur soluta.
	include ./includes/relatedWork.021715.1.jade
	include ./includes/endingBlock.021715.2.jade

block footer
	include ./includes/footer.jade