extends ./index.layout.jade

block sidebarNav
	include ./includes/sidebarNav.jade

block contentHome
	h2 Portfolio
	.introText
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum aspernatur, culpa magni cupiditate voluptate excepturi officia eaque mollitia minus?
	include ./includes/portfolioWork.jade

block footer
	include ./includes/footer.jade