extends ./index.layout.jade

block sidebarNav
	include ./includes/sidebarNav.jade

block contentHome
	h1.title Testimonials
	
	.clear
	.line

	include ./includes/introText.jade
	include ./includes/testimonials.jade

block footer
	include ./includes/footer.jade