.about
	h3 About
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis itaque aperiam rerum in assumenda animi voluptatum ipsum neque delectus!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, rerum.
	span.lite1 Fax:
	|  +416 777 8888
	br
	span.lite1 Tel:
	|  +416 777 8888
	br
	span.lite1 Email:
	|  name@domain.com