////////////////////////////////////////////
// 		BLOG SIDEBAR "SECONDARY"
////////////////////////////////////////////
.blogSidebar.secondary
	//- We use .secondary for the blog page with sidebar version
	//- In tandem with .primary
	//- CATEGORIES
	include categories.post.021715.1.jade
	include popularPosts.021715.1.jade
	include customText.jade
	//- ARCHIVES
	include archives.jade
	//- TAGS
	include tags.jade
// END BLOG SIDEBAR "SECONDARY"