.blogSegment.primary
	//- We use .primary for the blog page with sidebar version
	include blogPostTemplate.jade
	include blogPostTemplate.jade
	include blogPostTemplate.jade
	include blogPostTemplate.jade