////////////////////////////////////////////
// 		BLOG POST
////////////////////////////////////////////

.blogPost
	img(src="http://lorempixel.com/702/383", alt="Blog Post Image")
	.date
		.day 13
		.month Jan
	.meta
		.title
			a(href="#") How To Write Compelling Copy
			//- Still need to supply a link to post.html
		.comments
			a(href="#") 17 Comments
		.tags
			a(href="#") marketing, journal, copywriting
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui error, quaerat, unde dolore modi ipsum architecto recusandae aperiam. Accusamus blanditiis, magni at minus velit doloribus, assumenda tenetur impedit iusto consequuntur voluptates nobis excepturi tempore, iure quo earum esse nulla saepe veritatis praesentium. Impedit accusantium, non aspernatur cupiditate perferendis esse. 
		a(href="#") Continue reading...
		//- Still need to supply a link to post.html
// END BLOG POST