.bulletBlock
	.block1
		h3 Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	.block2
		h3 Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	.block3
		h3 Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	.block4
		h3 Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.