////////////////////////////////////////////
// 		POST CATEGORIES
////////////////////////////////////////////
.categoryPost
	h3 Categories
	ul
		li
			a(href="#") Web Development (12)
		li
			a(href="#") Copywriting (14)
		li
			a(href="#") Direct Mailing Campaigns (15)
		li
			a(href="#") PostCard Campaigns (17)
		li
			a(href="#") PPC Campaigns (18)

// END POST CATEGORIES