block headLine
	h1.title Welcome
	.clear
	.line

block introText
	include introText.jade

block slideImages
	include sliderImage.021715.1.jade

block copyBlockOne
	include copyBlockOne.jade

//- this is only used for index.jade
block benefitBlock
	include bulletBlock.jade

//- this is only used for index.jade
block carouselWork
	include latestWork.021715.1.jade

//- this is only used for index2.jade
block portfolioWork
	include portfolioWork.jade

//- dividing line
block dividerV2
	.clear
	.line

//- this is only used for index3.jade
block testimonials
	include testimonials.jade

//- this is only used for index.jade
block endingBlock
	//- This ending block doesn't exist when portfolioWork and testimonials are used

	include endingBlock.021715.1.jade
