block headLine
	h1 Welcome

block introText
	//- .introText
	//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum aspernatur, culpa magni cupiditate voluptate excepturi officia eaque mollitia minus?
	include introText.jade

block slideImages
	include sliderImage.021715.1.jade

block copyBlockOne
	//- .copyBlockOne
	//- 	h3 Lorem ipsum dolor sit.
	//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	include copyBlockOne.jade

//- this is only used for index.jade
block benefitBlock
	include bulletBlock.jade
	//- .bulletBlock
	//- 	.block1
	//- 		h3 Lorem ipsum dolor sit.
	//- 		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	//- 	.block2
	//- 		h3 Lorem ipsum dolor sit.
	//- 		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	//- 	.block3
	//- 		h3 Lorem ipsum dolor sit.
	//- 		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
	//- 	.block4
	//- 		h3 Lorem ipsum dolor sit.
	//- 		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.

//- this is only used for index.jade
block carouselWork
	include latestWork.021715.1.jade

//- this is only used for index2.jade
block portfolioWork
	include portfolioWork.jade

//- this is only used for index3.jade
block testimonials
	include testimonials.jade

//- this is only used for index.jade
block endingBlock
	//- This ending block doesn't exist when portfolioWork and testimonials are used

	include endingBlock.021715.1.jade
