block headLine
	h2 Welcome

block introText
	.introText
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum aspernatur, culpa magni cupiditate voluptate excepturi officia eaque mollitia minus?

block slideImages
	.sliderImage
		img(src="http://lorempixel.com/705/382", alt="Lorem")
		img(src="http://lorempixel.com/705/382", alt="Lorem")
		img(src="http://lorempixel.com/705/382", alt="Lorem")
		img(src="http://lorempixel.com/705/382", alt="Lorem")

block copyBlockOne
	.copyBlockOne
		h3 Lorem ipsum dolor sit.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.

//- this is only used for index.jade
block benefitBlock
	.bulletBlock
		.block1
			h3 Lorem ipsum dolor sit.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
		.block2
			h3 Lorem ipsum dolor sit.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
		.block3
			h3 Lorem ipsum dolor sit.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
		.block4
			h3 Lorem ipsum dolor sit.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.

//- this is only used for index.jade
block carouselWork
	.latestWorks
		//- This is another image slider gallery
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")
		img(src="http://lorempixel.com/161/121", alt="Lorem")

//- this is only used for index2.jade
block portfolioWork
	include portfolioWork.jade

//- this is only used for index3.jade
block testimonials
	include testimonials.jade

//- this is only used for index.jade
block endingBlock
	//- This ending block doesn't exist when portfolioWork and testimonials are used

	.endingBlock
		h3 Lorem ipsum dolor sit amet.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatibus explicabo accusamus ab praesentium libero hic sequi assumenda, minus ut.
		ul
			li
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae sequi, maxime numquam asperiores ab vel placeat quae et sint.
			li
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolor laudantium quia voluptatibus, eos sed ducimus quaerat dolorem sint culpa!
			li
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit, excepturi dignissimos, eum iure possimus rem ullam quisquam porro maxime.
