extends ./contentHome.layout.jade

//- the ones you don't want you un-comment the block, leaving it empty thereby disabling the default

//- block benefitBlock
//- block carouselWork
block portfolioWork
block testimonials
//- block endingBlock
