extends ./contentHome.layout.jade

//- block benefitBlock
//- block carouselWork

//- h2 Welcome
//- .introText
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum aspernatur, culpa magni cupiditate voluptate excepturi officia eaque mollitia minus?
//- .sliderImage
//- 	img(src="http://lorempixel.com/705/382", alt="Lorem")
//- 	img(src="http://lorempixel.com/705/382", alt="Lorem")
//- 	img(src="http://lorempixel.com/705/382", alt="Lorem")
//- 	img(src="http://lorempixel.com/705/382", alt="Lorem")
//- .bulletBlock
//- 	h3 Lorem ipsum dolor sit.
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro voluptatibus pariatur dolorem temporibus eius magnam, laborum exercitationem nam totam nobis fugit, asperiores sint eos provident sed quo amet labore cum.
//- 	.block1
//- 	.block2
//- 	.block3
//- 	.block4
//- .latestWorks
//- 	//- This is another image slider gallery
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 	img(src="http://lorempixel.com/161/121", alt="Lorem")
//- .endingBlock
//- 	h3 Lorem ipsum dolor sit amet.
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatibus explicabo accusamus ab praesentium libero hic sequi assumenda, minus ut.
//- 	ul
//- 		li
//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vitae sequi, maxime numquam asperiores ab vel placeat quae et sint.
//- 		li
//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolor laudantium quia voluptatibus, eos sed ducimus quaerat dolorem sint culpa!
//- 		li
//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque impedit, excepturi dignissimos, eum iure possimus rem ullam quisquam porro maxime.
