////////////////////////////////////////////
// 		CREDIT TEXT
////////////////////////////////////////////

//- I'll use the same styling for .customText

.customText
	h3 Credits
	p This is an adaptation-derivative of ElemisDesign's theme 
		a(href="http://elemisdesign.com/demos/caprice/", target="_blank") Caprice
		| .
	p It has been re-coded through Jade and SCSS through a combination of includes and mixins.
	p The Javascript used is also different from the original.
// END CREDIT TEXT