////////////////////////////////////////////
// 		CUSTOM TEXT
////////////////////////////////////////////
.customText
	h3 Custom Text
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dolor earum laboriosam officia, expedita tempora ab est iure asperiores mollitia autem in, molestias minima tempore.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla, odio aspernatur pariatur quidem deserunt, modi nam quo beatae vitae cumque eum neque. Nam, quidem.
// END CUSTOM TEXT