////////////////////////////////////////////
// 		CONCLUDING BLOCK
////////////////////////////////////////////
.endingBlock
	h3 Lorem ipsum dolor sit amet.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatibus explicabo accusamus ab praesentium libero hic sequi assumenda, minus ut.
// ENDING CONCLUDING BLOCK