.footer
	.popularPosts
		ul
			li
				img(src="http://lorempixel.com/52/52", alt="Lorem")
				a(href="#") Lorem ipsum dolor.
				p 26 Jan 2015 | 
					a(href="#") 25 Comments
			li
				img(src="http://lorempixel.com/52/52", alt="Lorem")
				a(href="#") Lorem ipsum dolor.
				p 26 Jan 2015 | 
					a(href="#") 25 Comments
			li
				img(src="http://lorempixel.com/52/52", alt="Lorem")
				a(href="#") Lorem ipsum dolor.
				p 26 Jan 2015 | 
					a(href="#") 25 Comments
	.about
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis itaque aperiam rerum in assumenda animi voluptatum ipsum neque delectus!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, rerum.
		span Fax:
			|  +416 777 8888
		span Tel:
			|  +416 777 8888
		span Email:
			|  name@domain.com
	.customText
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dolor earum laboriosam officia, expedita tempora ab est iure asperiores mollitia autem in, molestias minima tempore.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla, odio aspernatur pariatur quidem deserunt, modi nam quo beatae vitae cumque eum neque. Nam, quidem.