.latestWorks

	mixin latestWorksEntry
		li
			a(href="#")
				span.overlayDetails
				img(src="http://lorempixel.com/161/121", alt="Lorem")

	//- This is another image slider gallery
	h3 Latest Works
	.carouselScroll
		a(href="#",class='prev')
			//- span.fa.fa-angle-left.fa-2x
		a(href="#",class='next')
			//- span.fa.fa-angle-right.fa-2x
	.carouselImages
		ul.bxsliderLW
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry
			+latestWorksEntry