.latestWorks
	//- This is another image slider gallery
	h3 Latest Works
	.carouselScroll
		a(href="#",class='prev')
		a(href="#",class='next')
	.carouselImages
		ul
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")
			li
				a(href="#")
					span.overlayDetails
					img(src="http://lorempixel.com/161/121", alt="Lorem")