.popularPosts

	mixin popularPostTemplate
		li
			a(href='javascript:void(0)')
				img(src="http://lorempixel.com/52/52", alt="Lorem")
			a(href="#")
				h5 Lorem ipsum dolor.
			p.italicIt 26 Jan 2015 | 
				a(href="#",class='italicIt') 25 Comments

	h3 Popular Posts
	ul
		+popularPostTemplate
		+popularPostTemplate
		+popularPostTemplate