.popularPosts
	h3 Popular Posts
	ul
		li
			img(src="http://lorempixel.com/52/52", alt="Lorem")
			a(href="#") Lorem ipsum dolor.
			p 26 Jan 2015 | 
				a(href="#") 25 Comments
		li
			img(src="http://lorempixel.com/52/52", alt="Lorem")
			a(href="#") Lorem ipsum dolor.
			p 26 Jan 2015 | 
				a(href="#") 25 Comments
		li
			img(src="http://lorempixel.com/52/52", alt="Lorem")
			a(href="#") Lorem ipsum dolor.
			p 26 Jan 2015 | 
				a(href="#") 25 Comments