.portfolioWork
	ul.filtering-nav
		li Filter:
		li
			a(href="#") All
		li
			a(href="#") Web
		li
			a(href="#") Photo
		li
			a(href="#") Graphic
	//- create a kind of dividing div
	.clear
	.portfolioList
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		.portfolioItem.web
			img(src="http://lorempixel.com/221/174", alt="Lorem")
			h3 Lorem ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
		