extends portfolioWork.layout.jade

block portfolioList
	.portfolioList.galleryWrap
		+portfolioItemWeb1col
		+portfolioItemWeb1col
		+portfolioItemWeb1col
		+portfolioItemWeb1col
		+portfolioItemWeb1col
		+portfolioItemWeb1col
		+portfolioItemPhoto1col
		+portfolioItemPhoto1col
		+portfolioItemPhoto1col
		+portfolioItemPhoto1col
		+portfolioItemPhoto1col
		+portfolioItemGraphic1col
		+portfolioItemGraphic1col
		+portfolioItemGraphic1col
		+portfolioItemGraphic1col
		+portfolioItemVideo1col
		+portfolioItemVideo1col