.portfolioWork
	block filterNav
		ul.filtering-nav
			li Filter:
			li
				a(href="#") All
			li
				a(href="#") Web
			li
				a(href="#") Photo
			li
				a(href="#") Graphic
	
	//- create a kind of dividing div
	.clear

	mixin portfolioItemBase
		//- img(src="http://lorempixel.com/221/174", alt="Lorem")
		img(src="http://lorempixel.com/1200/960", alt="Lorem")
		//- a(href='#')
		//- 	h4 Lorem ipsum
		h4
			a(href='#') Lorem ipsum
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.

	//- you can call a mixin within a mixin to reduce code duplication

	//- ===================================
	//- 3 COLUMN MIXINS
	//- ===================================

	mixin portfolioItemWeb3col
		.portfolioItem.portWeb.one-third
			+portfolioItemBase

	mixin portfolioItemPhoto3col
		.portfolioItem.portPhoto.one-third
			+portfolioItemBase

	mixin portfolioItemGraphic3col
		.portfolioItem.portGraphic.one-third
			+portfolioItemBase

	mixin portfolioItemVideo3col
		.portfolioItem.portVideo.one-third
			+portfolioItemBase


	block portfolioList
		//- .portfolioList
		//- 	+portfolioItemWeb
		//- 	+portfolioItemWeb
		//- 	+portfolioItemWeb
		//- 	+portfolioItemWeb
		//- 	+portfolioItemWeb
		//- 	+portfolioItemPhoto
		//- 	+portfolioItemPhoto
		//- 	+portfolioItemPhoto
		//- 	+portfolioItemPhoto
		//- 	+portfolioItemGraphic
		//- 	+portfolioItemGraphic
		//- 	+portfolioItemGraphic