extends portfolioWork.layout.jade

block portfolioList
	.portfolioList
		+portfolioItemWeb
		+portfolioItemWeb
		+portfolioItemWeb
		+portfolioItemWeb
		+portfolioItemWeb
		+portfolioItemWeb
		+portfolioItemPhoto
		+portfolioItemPhoto
		+portfolioItemPhoto
		+portfolioItemPhoto
		+portfolioItemPhoto
		+portfolioItemGraphic
		+portfolioItemGraphic
		+portfolioItemGraphic
		+portfolioItemGraphic
		+portfolioItemVideo
		+portfolioItemVideo
