//- ===================================
//- MIXINS
//- ===================================

//- mixin portfolioItemBase
//- 	a(href="#")
//- 		img(src="http://lorempixel.com/1200/960", alt="Lorem", title='Caption', rel='prettyPhoto [portfolio]')
//- 	h4
//- 		a(href='#') Lorem ipsum
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.

//- mixin portfolioItemBase1Col
//- 	a(href="#")
//- 		img(src="http://lorempixel.com/1200/960", alt="Lorem", title='Caption', rel='prettyPhoto [portfolio]',class='portImg1Col')
//- 	h4.portImag1Col
//- 		a(href='#') Lorem ipsum
//- 	p.portImag1Col Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
//- 	a.buttonBlue(href='portfolio5.html') View Project


mixin portfolioItemBase(filterName)
	//- li
	a(href="#",class='fancybox',data-fancybox-group="gallery",data-filter=filterName)
		img(src="http://lorempixel.com/1200/960", alt="Lorem", title='Caption', rel='prettyPhoto [portfolio]')
	h4
		a(href='#') Lorem ipsum
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.

mixin portfolioItemBase1Col(filterName)
	//- li
	a(href="#",class='fancybox',data-fancybox-group="gallery",data-filter=filterName)
		img(src="http://lorempixel.com/1200/960", alt="Lorem", title='Caption', rel='prettyPhoto [portfolio]',class='portImg1Col')
	h4.portImag1Col
		a(href='#') Lorem ipsum
	p.portImag1Col Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reiciendis.
	a.buttonBlue(href='portfolio5.html') View Project



//- you can call a mixin within a mixin to reduce code duplication

//- ===================================
//- 1 COLUMN MIXINS
//- ===================================

mixin portfolioItemWeb1col
	.portfolioItem.portWeb.full-monty
		+portfolioItemBase1Col('web')

mixin portfolioItemPhoto1col
	.portfolioItem.portPhoto.full-monty
		+portfolioItemBase1Col('photo')

mixin portfolioItemGraphic1col
	.portfolioItem.portGraphic.full-monty
		+portfolioItemBase1Col('graphic')

mixin portfolioItemVideo1col
	.portfolioItem.portVideo.full-monty
		+portfolioItemBase1Col('video')

//- ===================================
//- 2 COLUMN MIXINS
//- ===================================

mixin portfolioItemWeb2col
	.portfolioItem.portWeb.one-half
		+portfolioItemBase('web')

mixin portfolioItemPhoto2col
	.portfolioItem.portPhoto.one-half
		+portfolioItemBase('photo')

mixin portfolioItemGraphic2col
	.portfolioItem.portGraphic.one-half
		+portfolioItemBase('graphic')

mixin portfolioItemVideo2col
	.portfolioItem.portVideo.one-half
		+portfolioItemBase('video')

//- ===================================
//- 3 COLUMN MIXINS
//- ===================================

mixin portfolioItemWeb3col
	.portfolioItem.portWeb.one-third
		+portfolioItemBase('web')

mixin portfolioItemPhoto3col
	.portfolioItem.portPhoto.one-third
		+portfolioItemBase('photo')

mixin portfolioItemGraphic3col
	.portfolioItem.portGraphic.one-third
		+portfolioItemBase('graphic')

mixin portfolioItemVideo3col
	.portfolioItem.portVideo.one-third
		+portfolioItemBase('video')

//- ===================================
//- 4 COLUMN MIXINS
//- ===================================

mixin portfolioItemWeb4col
	.portfolioItem.portWeb.one-fourth
		+portfolioItemBase('web')

mixin portfolioItemPhoto4col
	.portfolioItem.portPhoto.one-fourth
		+portfolioItemBase('photo')

mixin portfolioItemGraphic4col
	.portfolioItem.portGraphic.one-fourth
		+portfolioItemBase('graphic')

mixin portfolioItemVideo4col
	.portfolioItem.portVideo.one-fourth
		+portfolioItemBase('video')

//- ===================================

//- ===================================
//- MAIN CODE
//- ===================================

.portfolioWork
	block filterNav
		ul.filtering-nav#galleryTab
			li Filter:
			li
				a(href="javascript:;",class='all filter active',data-rel="all") All
			li
				a(href="javascript:;",class='web',data-rel="web") Web
			li
				a(href="javascript:;",class='photo',data-rel="photo") Photo
			li
				a(href="javascript:;",class='graphic',data-rel="graphic") Graphic
			li
				a(href="javascript:;",class='video',data-rel="video") Video

	//- create a kind of dividing div
	.clear

	block portfolioList
		