extends portfolioWork.layout.jade

//- By default this will be the portfolioWork.3col.jade

//- ===================================
//- VARIABLES
//- ===================================

//- you want to start these counter variables at 0
- var webPortNo = 0
- var photoPortNo = 0
- var graphicPortNo = 0
- var videoPortNo = 0


//- ===================================
//- MIXINS
//- ===================================
//- Please make sure that the snippet indenting is correct or it won't compile properly
mixin portfolio3Col
	.one-third
		if block
			block
		else
			p No content provided

//- ===================================
//- MAIN CODE
//- ===================================

//- Thursday, February 19, 2015 4:32 PM:  so far the while loops aren't working... it seems that calling mixins within the loops don't work
//- there also isn't a for loop either

block portfolioList
	.portfolioList.galleryWrap
		+portfolioItemWeb3col
		+portfolioItemWeb3col
		+portfolioItemWeb3col
		+portfolioItemWeb3col
		+portfolioItemWeb3col
		+portfolioItemPhoto3col
		+portfolioItemPhoto3col
		+portfolioItemPhoto3col
		+portfolioItemPhoto3col
		+portfolioItemGraphic3col
		+portfolioItemGraphic3col
		+portfolioItemGraphic3col