extends portfolioWork.layout.jade

block portfolioList
	.portfolioList
		+portfolioItemWeb2col
		+portfolioItemWeb2col
		+portfolioItemWeb2col
		+portfolioItemWeb2col
		+portfolioItemWeb2col
		+portfolioItemWeb2col
		+portfolioItemPhoto2col
		+portfolioItemPhoto2col
		+portfolioItemPhoto2col
		+portfolioItemPhoto2col
		+portfolioItemPhoto2col
		+portfolioItemGraphic2col
		+portfolioItemGraphic2col
		+portfolioItemGraphic2col
		+portfolioItemGraphic2col
		+portfolioItemVideo2col
		+portfolioItemVideo2col