extends portfolioWork.layout.jade

block portfolioList
	.portfolioList
		+portfolioItemWeb4col
		+portfolioItemWeb4col
		+portfolioItemWeb4col
		+portfolioItemWeb4col
		+portfolioItemWeb4col
		+portfolioItemWeb4col
		+portfolioItemPhoto4col
		+portfolioItemPhoto4col
		+portfolioItemPhoto4col
		+portfolioItemPhoto4col
		+portfolioItemPhoto4col
		+portfolioItemGraphic4col
		+portfolioItemGraphic4col
		+portfolioItemGraphic4col
		+portfolioItemGraphic4col
		+portfolioItemVideo4col
		+portfolioItemVideo4col
