////////////////////////////////////////////
// 		RELATED WORK
////////////////////////////////////////////

extends latestWork.021715.1.jade

//- .latestWorks
//- 	//- This is another image slider gallery
//- 	h3 Related Works
//- 	.carouselScroll
//- 		a(href="#",class='prev')
//- 		a(href="#",class='next')
//- 	.carouselImages
//- 		//- - var n = 10

//- 		//- ul
//- 		//- 	while n <= 10
//- 		//- 		li
//- 		//- 			a(href="#")
//- 		//- 				span.overlayDetails
//- 		//- 				img(src="http://lorempixel.com/161/121", alt="Lorem")

//- 		ul
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")
//- 			li
//- 				a(href="#")
//- 					span.overlayDetails
//- 					img(src="http://lorempixel.com/161/121", alt="Lorem")

// END RELATED WORK