.sidebarNav

	//- ===================================
	//- LOGO AREA
	//- ===================================

	block logoArea
		.logo
			img(src="./images/logo.png", alt="logo")
	
	//- ===================================
	//- NAV MENU
	//- ===================================

	block navMenu
		ul
			li
				a Home
			li
				a Portfolio
			li
				a Blog
			li
				a Features
			li
				a Contact Us
	
	//- ===================================
	//- SOCIAL MEDIA BUTTONS
	//- ===================================

	block socialZone
		.socialMediaIcons
			img(src="./images/icon-rss.png", alt="RSS")
			img(src="./images/icon-facebook.png", alt="Facebook")
			img(src="./images/icon-twitter.png", alt="Twitter")
			img(src="./images/icon-dribbble.png", alt="Dribble")
			img(src="./images/icon-linkedin.png", alt="LinkedIn")
	
	block blogSearchBox
		.blogSearchBox
			//- This should be hidden with 