extends ./sidebarNav.layout.jade

block blogSearchBox
	// ===================================
	// BLOG SEARCH BOX
	// ===================================
	// This only appears when the blog page comes up.
	.blogSearchBox
		label Search
		input(type='text',name='blogSearch',placeholder='type and hit enter')