extends ./sidebarNav.layout.jade

block blogSearchBox
	// ===================================
	// BLOG SEARCH BOX
	// ===================================
	// This only appears when the blog page comes up.
	.blogSearchBox
		h3 Search
		form(method="get", action="",class='searchForm')
			input(type='text',name='blogSearch',placeholder='type and hit enter')
			i.fa.fa-search