.sidebarNav

	//- ===================================
	//- LOGO AREA
	//- ===================================

	block logoArea
		.logo
			img(src="./images/logo.png", alt="logo")
	
	//- ===================================
	//- NAV MENU
	//- ===================================

	block navMenu
		ul.mainMenu
			li
				a(href="#") Home
				ul
					li
						a(href="#") Home w/ Carousel
					li
						a(href="#") Home w/ Portfolio
					li
						a(href="#") Home w/ Testimonials
			li
				a(href="#") Portfolio
				ul
					li
						a(href="#") Portfolio 4 Columns
					li
						a(href="#") Portfolio 3 Columns
					li
						a(href="#") Portfolio 2 Columns
					li
						a(href="#") Portfolio 1 Columns
					li
						a(href="#") Portfolio Post
			li
				a(href="#") Blog
				ul
					li
						a(href="#") Blog
					li
						a(href="#") Blog with Sidebar
					li
						a(href="#") Post
					li
						a(href="#") Post with Sidebar
			li
				a(href="#") Features
				ul
					li
						a(href="#") Button Boxes Images
					li
						a(href="#") Tabs Toggles Tables
					li
						a(href="#") Testimonials
					li
						a(href="#") Typography
					li
						a(href="#") Service Icons
			li
				a(href="#") Contact Us
	
	//- ===================================
	//- SOCIAL MEDIA BUTTONS
	//- ===================================

	block socialZone
		.socialMediaIcons
			img(src="./images/icon-rss.png", alt="RSS")
			img(src="./images/icon-facebook.png", alt="Facebook")
			img(src="./images/icon-twitter.png", alt="Twitter")
			img(src="./images/icon-dribbble.png", alt="Dribble")
			img(src="./images/icon-linkedin.png", alt="LinkedIn")
	
	//- ===================================
	//- BLOG SEARCH BOX
	//- ===================================
	//- This only appears when the blog page comes up.

	block blogSearchBox
		.blogSearchBox
			//- This should be hidden with 