.sidebarNav

	//- ===================================
	//- LOGO AREA
	//- ===================================

	block logoArea
		.logo
			img(src="./images/logo.png", alt="logo")
	
	//- ===================================
	//- NAV MENU
	//- ===================================

	block navMenu
		ul.mainMenu
			li
				a(href="index.html") Home
				ul
					li
						a(href="index.html") Home w/ Carousel
					li
						a(href="index2.html") Home w/ Portfolio
					li
						a(href="index3.html") Home w/ Testimonials
			li
				a(href="portfolio.html") Portfolio
				ul
					li
						a(href="portfolio.html") Portfolio 4 Columns
					li
						a(href="portfolio2.html") Portfolio 3 Columns
					li
						a(href="portfolio3.html") Portfolio 2 Columns
					li
						a(href="portfolio4.html") Portfolio 1 Columns
					li
						a(href="portfolio5.html") Portfolio Post
			li
				a(href="#") Blog
				ul
					li
						a(href="blog.html") Blog
					li
						a(href="blog2.html") Blog with Sidebar
					li
						a(href="post.html") Post
					li
						a(href="post2.html") Post with Sidebar
			li
				a(href="#") Features
				ul
					li
						a(href="#") Button Boxes Images
					li
						a(href="#") Tabs Toggles Tables
					li
						a(href="#") Testimonials
					li
						a(href="#") Typography
					li
						a(href="#") Service Icons
			li
				a(href="#") Contact Us
	
	//- ===================================
	//- SOCIAL MEDIA BUTTONS
	//- ===================================

	block socialZone
		// ===================================
		// SOCIAL MEDIA BUTTONS
		// ===================================
		.socialMediaIcons
			img(src="./images/icon-rss.png", alt="RSS")
			img(src="./images/icon-facebook.png", alt="Facebook")
			img(src="./images/icon-twitter.png", alt="Twitter")
			img(src="./images/icon-dribbble.png", alt="Dribble")
			img(src="./images/icon-linkedin.png", alt="LinkedIn")
		// SOCIAL MEDIA BUTTONS END
	
	//- ===================================
	//- BLOG SEARCH BOX
	//- ===================================
	
	block blogSearchBox
		.blogSearchBox
			//- This should be hidden with 
