////////////////////////////////////////////
// 		IMAGE SLIDER
////////////////////////////////////////////
.sliderImage
	ul.flexslider
		li
			img(src="http://lorempixel.com/161/121", alt="Lorem")
		li
			img(src="http://lorempixel.com/161/121", alt="Lorem")
		li
			img(src="http://lorempixel.com/161/121", alt="Lorem")
		li
			img(src="http://lorempixel.com/161/121", alt="Lorem")
		li
			img(src="http://lorempixel.com/161/121", alt="Lorem")
		li
			img(src="http://lorempixel.com/161/121", alt="Lorem")
// END IMAGE SLIDER