////////////////////////////////////////////
// 		IMAGE SLIDER
////////////////////////////////////////////
.sliderImage
	mixin flexImageTemplate
		li
			img(src="http://lorempixel.com/702/382", alt="Lorem")

	ul.flexslider.bxslider
		+flexImageTemplate
		+flexImageTemplate
		+flexImageTemplate
		+flexImageTemplate
		+flexImageTemplate
// END IMAGE SLIDER