////////////////////////////////////////////
// 		IMAGE SLIDER
////////////////////////////////////////////
.sliderImage
	mixin flexImageTemplate
		li
			img(src="http://lorempixel.com/702/382", alt="Lorem")

	ul.flexslider.bxslider
		+flexImageTemplate
		+flexImageTemplate
		+flexImageTemplate
		+flexImageTemplate
		+flexImageTemplate
	ul.flex-direction-nav
		li
			a(href="#",class='flex-prev') Previous
		li
			a(href="#",class='flex-next') Next

// END IMAGE SLIDER