////////////////////////////////////////////
// 		POST TAGS
////////////////////////////////////////////
.tagsPosts
	h3 Tags
	ul
		li
			a(href="#") Swipe File (5)
		li
			a(href="#") Health (5)
		li
			a(href="#") Ruby On Rails (12)
		li
			a(href="#") Javascript (5)
		li
			a(href="#") jQuery (21)
// ENED POST TAGS